body {
    position: relative;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
    text-align: center;
    margin-top: 0;
}

p {
    font-size: 4vh;
}

a { 
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

a:link {
    background-color: orangered;
    text-decoration: none;
    padding: 14px 25px;
}
  
a:visited {
    color: olive;
}
  
a:hover {
    color: hotpink;
}
  
a:active {
    color: plum;
}

a:hover{
    background-color: darkviolet;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

form {
    padding-top: 30px;
}

form label {
    color: palevioletred;
    font-weight: bold;
    font-size: 20px;
    }

input {
    text-transform: uppercase;
    width: 220px;
    margin-bottom: 10px;

}

button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px
}

div.container:empty  {
    margin: 10px 0;
    height: 100px;
    background-color: aqua;
}

.footer {
    position: sticky;
    background-color: blueviolet;
    height: 150px;
    left: 0;
    bottom: 0;
}